@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --bg-color: #e9ecef;
}
* {
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: var(--bg-color);
  z-index: 999;
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 26px;
  line-height: 54px;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font: 400;
  font-size: 18px;
}

.nav-link.active {
  font-weight: 800;
}

section#header {
  height: 100vh;
  clip-path: inset(0px);
  position: relative;
}

.jumbotron {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.welcome .welcome__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
}

.welcome .welcome__job {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
}

.welcome .welcome__brief {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.photo {
  position: absolute;
  height: 625px;
  top: 80px;
  right: 0;
}

/* About Section */
.aboutRight .aboutRight__title {
  font-weight: 800;
  font-family: "Roboto";
  font-size: 48px;
}

.aboutRight .aboutRight__desc {
  font-size: 18px;
}

/* Skills Section */

section#skills {
  background-color: var(--bg-color);
}

.skill .skill__image {
  filter: grayscale(100%);
}

.skill .skill__name {
  font-size: 18px;
  font-weight: 800;
}

.skill .skill__level {
  font-size: 14px;
}
