html{
	position: relative;
}
body{
	width: 100%;
	font-family: $fontGlobal;
}
.clearfix{
	clear: both;
} 

.indent-1{
	text-indent: 5rem;
}

.text-justify{
	text-align: justify;
}
.text-right{
	text-align:right;
}
.bg-gray{
	background-color: $bg-gray;
}

// Button
.btn {
	border-radius: 10px;
	padding:10px 20px;
	border:none;
	font-size: 18px;
}
.btn-utama{
    background-color: $biru;
    color: white;
    font-weight: 800;
	transition: background-color .2s ease-in-out;
}
.btn-utama:hover{
	background-color: $biruHover;
	cursor: pointer;
}
.btn-utama:active{
	background-color: $biru;
}

// Section
.section-judul{
	font-size:28px;
	margin:20px;
	text-align:center;
	color:$teksSubJudul;
}
.reason-section{
	display: grid;
	grid-template-columns: auto auto auto;
	align-content: center;
	text-align: center;
	.item-section{
	margin:10px auto;
	color:$teks;
	.item-img {
		height: 200px;
		}
	.item-title{
		margin:10px 0 0;
		font-weight: 800;
	}
	}
}

// Grid
.grid{
	display:grid;
}

// Form
.input-control{
	padding:10px 20px;
	margin:10px;
	font-size: 1.5rem;
	border-radius:10px;
	border:5px solid $border-gray;
}

// Header Backgroud
.home-img{
	background-image:url("../img/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	width: 100%;
	height: 600px;
  }
  
  .service-img{
	background-image:url("../img/service_header.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	width: 100%;
	height: 400px;
  }

  .about-img{
	background-image:url("../img/about_header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	width: 100%;
	height: 400px;
  }

//   Sitename Header Position 
.home-head{
	top:150px;
    right:100px;
}

.service-head{
	top:150px;
	left:50%;
	transform: translate(-50%)
}

// Konten
.main-konten{
	padding:0 64px 64px;
}


//image
.img-circle{
	border-radius: 50%;
}