
.logo{
  position: absolute;
  margin:10px 20px;
  font-size:36px;
  color:$merahTua;
  float:left;
  top:0;
  left:0;
  span{
    padding:0px 15px;
    color:white;
    background-color: $merah;
    border-radius: 10px;
  }
}

nav{
  position: absolute;
  top:0;
  right: 0;
  ul.topNav{
    margin: 15px 30px;
    li{
      list-style-type: none;
      display: inline-block;
      padding:10px 20px;
      color:white;
      font-weight: 800;
    }
  }
}

.header{
  .data-header{
    float: left;
    position: absolute;
    text-align: center;
    .nama-website{
      color:white;
      font-size:40px;
      font-weight: 800;
      padding:10px 20px;
      border:10px solid white;
      margin:0;
    }
    .web-deskripsi{
      color:white;
      font-weight: bold;
      margin:15px 0px 50px;
    }
  }
  .btn-utama{
    padding:12px 40px;
    font-size: 36px;
    letter-spacing: 0.2em;
  }
}
