@import "../variable/vars";
.what-is{
    text-align: center;
    .grid{
        grid-template-columns: 1fr 2fr;
        
        img{
            float:left;
            align-self: center;
            margin:5em;
            width:25em;
        }
        p{
            font-size: 22px;
            text-align:left;
            text-indent: 2rem;
            padding:150px 100px 150px 0;
            strong{
                color:black;
            }
        }
    }
}