@media screen and (max-width:992px){
    
    //Testimoni Section
    .testimoni{
        .testi-section{
            .testi-content{
                .testi-user{
                    font-size:1.2em;
                }
            }
        }
    }

    // Footer Section
    .footer{
        height: auto;
        background-color: $biruGelap;
        display:flex;
        flex-direction: column;
        .nama-web{
            padding:10px;
        }
        .nav-bottom{
            line-height: initial;
            text-align:center;
            ul.menu{
                font-size:1rem;
                
            }
        }
        .social-media{
            width: 100%;
            text-align: center;
            margin:0;
            .sosmed-title{
                margin:10px auto 0;
            }
            .sosmed-icon{
                margin:5px;
                img{
                    padding:0 5px;
                    height: 22px;
                }
            }
        }
    }

    //
    .form-group{
        max-width: 450px;
        .input-group{
            .input-append{
                grid-template-columns: 1fr;
            }
            select.form-control{
                width: 105%;
            }
        }
    }
}