$merah: #f13131;
$merahTua: #dd2f30;
$biru: #167cdc;
$biruHover:#066bc9;
$biruGelap:#172029;
$teksSubJudul: #404040;
$teks: #404040;
$bg-gray:#e5e5e5;
$fontGlobal: "Open Sans", sans-serif;
$border-gray:rgb(187, 187, 187);
$border-biru:#167cdc;
$icon_facebook:url("../img/fb_icon.png");